<nav class="navbar navbar-inverse navbar2">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navfont" href="#">分布式能源交易系统</a>
      
    </div>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown navfontAbout">
            <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">信息
              <span class="caret navfont"></span></a>
            <ul class="dropdown-menu">
              
              <li><a [routerLink]="['/About']">关于</a></li>
              <li><a [routerLink]="['/AllTransactions']">链上数据</a></li>              
            </ul>
          </li>

      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">参与方
          <span class="caret navfont"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Resident']">居民</a></li>
          <li><a [routerLink]="['/Bank']">银行</a></li>
          <li><a [routerLink]="['/UtilityCompany']">公共事业公司</a></li>
 
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">交易
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/TransactionRR']">居民与居民</a></li>
          <li><a [routerLink]="['/TransactionRU']">居民与公共事业公司</a></li>
          <li><a [routerLink]="['/TransactionRB']">居民与银行</a></li>
 
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">资产
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Coins']">通证</a></li>
          
          <li><a [routerLink]="['/Energy']">能源</a></li>

          <li><a [routerLink]="['/Cash']">现金</a></li>
          
        </ul>
      </li>

      

    </ul>
  </div>
</nav>

<div class = "bodybackground">
  <router-outlet></router-outlet>
</div>


