

<div class="container">
  <div class="row">  
      <p> 
        目前区块链领域正在探索的一个关键应用是分布式能源网络。我们构建了一个虚拟社区，那里的居民通过太阳能电池板或其他方式生产能源，并可以向需要能源的居民出售多余的能源。这些交易将以每个居民的账户上的通证为基础。根据每一个确定的合同和费率，这些通证将被从消费者那里扣除，并在一定的计费周期内记入生产者的账户。每笔交易都将被添加到区块链分布账本中，以获得信任和验证。该网络可以包括银行为法定货币交易通证，可以有公用事业公司，他们可以通过网络购买或提供能源。        </p>
      <p>
        在这个演示系统中，我们正在使用hyperledger编写程序，它将在网络上创建参与者（居民、银行、公用事业公司），并在居民、居民和银行以及居民和公用事业公司之间执行交易。这个系统演示了参与者之间的原子事务，并根据交易更新他们的余额。      </p>
      <p>
        目前该应用程序允许用户手动创建参与者并执行交易，演示了分散式能源网络的基本理念，并可通过多种方式进行扩展：增加特定的权限和渠道，在参与者之间建立实时交易，甚至与物联网进行整合，从电表和分配能量中读取数据。      </p>
  </div> 

  
</div>